@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Plus Jakarta Sans', sans-serif;
}

img{
    max-width: 100%;
    display: block;
}

:root{
    --unselected-main-color: #6C6C6C;
}

/* Web app */

.web-app{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
}

aside{
    border: 1px solid pink;
    display: flex;
    flex-direction: column;
    height: 90vh;
    background-color: black;
    width: calc(100vh / 4);
    padding-inline: 1rem;
    padding-top: 1rem;
    position: relative;
}


/* Top banner*/

.top-banner a{
    text-decoration: none;
    color: white;
    border: 1px solid white;
    border-radius: 2rem;
    padding-inline: 2rem;
    padding-block: 1rem;
    align-self: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: clamp(0.6rem,1.5vw,1.2rem);
    width: 100%;
    display: inline-block;
}

.top-banner{
    width: calc(100% - (100vh / 4));
    height: calc(100vh / 10);
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 999;
    position: fixed;
    display: flex;
    justify-content: flex-end;
    padding: 1.3rem;
}

.upgrade-button{
    max-width: 60%;
    align-self: center;
}

/* Spotify body*/

.spotify-body{
    background-color: #141922;
    height: 90vh;
    width: 100%;
    padding-top: calc((100vh / 10) + 2rem);
}

.music-generes{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.music-generes ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    flex-wrap: wrap;
    width: 100%;
}

.music-generes ul li a{
    text-decoration: none;
    color: var(--unselected-main-color);
    text-transform: uppercase;
    font-weight: 700;
    font-size: clamp(1rem,0.8vw,1.2rem);
}

/* Spotify container*/

.spotify-body-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-inline: 2rem;
    background-color: #141922;
}

.spotify-section h2{
    color: white;
    font-size: 2rem;
    font-weight: 700;
}

.spotify-section{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.spotify-section span{
    color: var(--unselected-main-color);
    font-weight: 700;
}

.musics-container{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    flex-wrap: wrap;
}

.music-card{
    --gap: 2rem;
    --columns: 6;
    flex-basis: calc((100% / var(--columns)) - var(--gap) + (var(--gap) / var(--columns)));
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    min-width: 15%;
}

.music-card .subtitle{
    font-weight: 700;
    color: var(--unselected-main-color);
    font-size: 1.1rem;
    text-align: center;
}

.music-card .title{
    font-weight: 700;
    font-size: 1.5rem;
    color: white;
    text-align: center;
}

.music-cover > figure{
    width: 100%;
    object-fit: cover;
    background-color: black;
}

.music-cover > figure img{
    width: 100%;
    object-fit: cover;
}

.play-hover figure{
    width: 30%;
    object-fit: cover;
}

.play-hover figure img{
    width: 100%;
    object-fit: cover;
}

.popular .music-cover > figure,
.popular .music-cover > figure img,
.popular .play-hover figure,
.popular .play-hover figure img,
.popular .play-hover{
    border-radius: 50%;
    aspect-ratio: 1;
}

.music-cover{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
}

.play-hover{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.music-cover:hover .play-hover{
    opacity: 1;
}


























/* Spotify action-bar*/

.spotify-action-bar{
    width: 100%;
    height: calc(100vh / 10);
    background-color: #282828;
}

/* Spotify body-r*/

.body-r{
    display: flex;
    flex-direction: column;
    width: calc(100% - (100vh / 4));
    overflow-y: auto;
}


/* Aside*/
.main-logo{
    width: 90%;
}

.xs-logo{
    display: none;
}


/* Aside menu*/

.menu{
    padding-top: 2rem; 
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.menu-item figure{
    width: 15%;
}

.menu-item-name{
    color: var(--unselected-main-color);
}

.menu-item{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: 700;
}

.menu-item span{
    font-size: 0.9rem;
}


/* Aside Playlist*/

.add-playlist a figure{
    width: 15%;
}

.add-playlist a figure img{
    width: 100%;
}

.playlist h5{
    color: white;
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
    font-size: 0.9rem;
}

.add-playlist a{
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    color: var(--unselected-main-color);
}

.existing-playlist{
    font-size: 0.87rem;
    padding-top: 1rem;
    font-weight: 700;
    color: var(--unselected-main-color);
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

/* Aside Footer*/

.aside-footer{
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    justify-self: flex-end;
    position: absolute;
    border: 1px solid red;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 1rem;
}

.aside-footer > .menu-item figure{
    width: 10%;
}

.aside-footer > .menu-item:last-child figure{
    width: 15%;
    aspect-ratio: 1;
    background-color: var(--unselected-main-color);
    border-radius: 50%;
    overflow: hidden;
}

.aside-footer > .menu-item:last-child figure img{
    width: 100%;
    aspect-ratio: 1;
    object-fit: contain;
}













































































































/******************************************************************************************************************************************************************                                  Media Query *****************************************************************************************************************************************************************/



/******************************************************************************************************************************************************************                                      Medium *****************************************************************************************************************************************************************/
@media screen and (max-width: 878px){

    .music-card{
        --gap: 2rem;
        --columns: 4;
        flex-basis: calc((100% / var(--columns)) - var(--gap) + (var(--gap) / var(--columns)));
    }
    
}































/******************************************************************************************************************************************************************                                      Small *****************************************************************************************************************************************************************/

@media screen and (max-width: 639px){

    .music-card{
        --gap: 2rem;
        --columns: 2;
        flex-basis: calc((100% / var(--columns)) - var(--gap) + (var(--gap) / var(--columns)));
    }
    
}




































/******************************************************************************************************************************************************************                                      XSmall *****************************************************************************************************************************************************************/

@media screen and (max-width: 603px){
    aside{
        width: calc(100vh / 16);
        display: flex;
        flex-direction: column;
    }

    .body-r{
        min-width: calc(100% - (100vh / 16));
    }

    .top-banner{
        width: calc(100% - (100vh / 16));
    }

    .xs-not-visible{
        display: none;
    }

    .xs-logo{
        display: block;
        width: 100%;
    }

    .menu-item figure{
        width: 100%;
    }

    .menu-item figure img{
        width: 150%;
        max-width: 200%;
    }

    .menu{
        padding-top: 1rem;
    }

    /* Aside Footer*/

    .aside-footer hr{
        display: none;
    }

    .aside-footer{
        gap: 1rem;
    }
    
    .aside-footer > .menu-item:first-child figure{
        width: 40%;
    }
    
    .aside-footer > .menu-item:last-child figure{
        width: 100%;
        aspect-ratio: 1;
        background-color: var(--unselected-main-color);
        border-radius: 50%;
        overflow: hidden;
    }

    .music-card{
        --gap: 2rem;
        --columns: 2;
        flex-basis: calc((100% / var(--columns)) - var(--gap) + (var(--gap) / var(--columns)));
    }



    
}









